---
layout: default
permalink: /projects/
---

<div class="posts">
  {% for project in site.categories.projects %}
    <article class="post">
      <div class="row">
      	<div class="col-1"></div>
	    <div class="col-4">
	    	{% if project.type == "image" %}
				<img src="{{ project.image }}" class="img-fluid" alt="Responsive image">
			{% else %}
				<iframe width="420" height="315"
					src="{{ project.video }}">
				</iframe>
			{% endif %}
	    </div>
	    <div class="col-1"></div>
	    <div class="col-6">
	      <h5><a href="{{ project.purl }}">{{ project.title }}</a></h5>
	      <div class="entry">
	        {{ project.excerpt }}
	      </div>
	    </div>
	  </div>
    </article>
  {% endfor %}
</div>